<%= form_for(@user, :url => update_user_path(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="MS-medium">
		<legend> <%= legend rescue '' %> </legend>
		<div class="row UF-member">
    <%= image_tag(@user.avatar.url(:thumb), :class => "UF-profile-image span") %>
    </div>
		<%= f.label :name %>
		<%= f.text_field :name, :autofocus => true %>

		<%= f.label :email %>
		<%= f.email_field :email %>

		<%= f.label :location_country %>
		<div id="user_location_country"></div>

		<%= f.label :location_city %>
		<%= f.text_field :location_city %>
		<% if current_user.id == @user.id and action_name.include? "edit" %>
			<%= f.file_field :avatar, :class => "u-avatar" %>
    	<%= f.submit "Save", :class => "btn display-block" %>
		<% end %>
	</fieldset>
<% end %>


<script>
 $(function() {
    $("#user_location_country" ).magicSuggest({
        id: 'user_location_country',
        name: 'user[location_country]',
			  allowFreeEntries: false,
        data: "<%=COUNTRIES%>",
        value: '["<%=@user.location_country%>"]',
				maxDropHeightinteger: 120,
				maxSelection: 1
    });
  });
</script>
